#index-wrapper
{
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: none;
  overflow: hidden;
  transition: opacity 1s;
}

#light
{
  --diameter: 45vw;
  width: var(--diameter);
  height: var(--diameter);
  position: absolute;
  left: 0;
  top: 0;
  // background-color: #49b8d1;
  background-color: var(--bg-color);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  // filter: blur(1vw);
  z-index: 0;
  transition: transform 2s ease-in-out;
}

#index-wrapper h1
{
  z-index: 1;
  line-height: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  
}

#index-wrapper h1 span
{
  text-transform: uppercase;
  font-size: 2.5vw;
  position: absolute;
  margin-bottom: -3vw;
}