@font-face {
  font-family: "Antarctica";
  src: url("/assets/fonts/Antarctica.ttf") format("truetype-variations");
}

*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Antarctica';
}

body
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;

  background-color: var(--bg-color);
  // cursor: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='10' r='10' fill='%2FFFFFF'/%3E%3C/svg%3E%0A"), auto ;
  cursor: url("/../images/cursor.svg") 10 0, auto ;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

h1
{
  font-size: 16vw;
}

button
{
  background: none;
  border: none;
  text-transform: uppercase;
}

a
{
  text-decoration: none;
  color: white;
  // transition: all .3s;
}

nav ul, button, a
{
  cursor: url("/../images/cursor_hover.svg"), auto ;
}

.show
{
  display: block;
}