@font-face {
  font-family: "Antarctica";
  src: url("/assets/fonts/Antarctica.ttf") format("truetype-variations");
}

*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Antarctica';
}

body
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;

  background-color: var(--bg-color);
}

h1
{
  font-size: 16vw;
}