*,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;

  background-color: var(--bg-color);
}