#start-wrapper
{
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #3b39c1;
}

#video-wrapper
{
  width: 50vw;
  height: 100vh;
  position: relative;
  background: black;
}

// .resizable .resizers
// {
//   width: 100%;
//   height: 100%;
//   border: 3px solid magenta;
// }

.resizable .resizers .resizer
{
  width: 60px;
  height: 100%;
  background: none;
  // opacity: 0;
  position: absolute;
  right: 0;
  transform: translateX(50%);
}
.resizable .resizers .resizer:hover
{
  cursor: url("/../images/scaler.svg") 30 0, auto;
}

.resizable .resizers .resizer .dragger
{
  height: 100%;
  width: 0;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  transition: width .1s;
}

.resizable .resizers .resizer:hover .dragger
{
  width: 30px;
}

#bgVideo 
{
  width: 100%;
  height: auto;
  // object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  // z-index: -1;
  // padding: 0.8vw;
}

#about-wrapper
{
  background-color: #3b39c1;
  width: 50vw;
  display: flex;
  flex-direction: column-reverse;
  padding: 2.4vw 2.4vw 1.8vw 2.4vw;
}

#about-wrapper p
{
  font-size: 1.5vw;
  color: white;
  letter-spacing: .8;
}